<nav class="navbar">
  <div class="nav-left km" routerLink="/home">
    <img [src]="logo" alt="brand">
  </div>
  <ul class="nav-center" #navMenu>
    <li routerLink="/home" routerLinkActive="active">Home</li>
    <li routerLink="/about" routerLinkActive="active">About</li>
    <li routerLink="/contact" routerLinkActive="active">Contact</li>
    <li *ngIf="auth.currentUser() && auth.isAdmin()" routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
    <li *ngIf="auth.currentUser()" routerLink="/profile" routerLinkActive="active">Profile</li>
  </ul>

  <div class="nav-right">
    <span class="icon"><a (click)="toggleSearch()" class="search-icon">🔍</a> </span>
    <span class="icon">🛒<a routerLink="/cart" class="cart-link">
        Cart <span>({{ cartService.cartCount() }})</span>
      </a></span>

    <div class="auth-controls">
      <button *ngIf="!auth.currentUser()" routerLink="/login" class="nav-btn login-btn">Login</button>
      <button *ngIf="auth.currentUser()" (click)="onLogout()" class="nav-btn logout-btn">Logout</button>
    </div>

    <span class="menu-btn" (click)="toggleMenu()">☰</span>
  </div>
</nav>
<app-search-bar #searchBar *ngIf="showSearch"></app-search-bar>