/* You can add global styles to this file, and also import other style files */
:host{
  --primary-black: #1A1A1A;
  --primary-accent: #55AD89;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  --card-shadow-hover: 0 10px 25px rgba(0, 0, 0, 0.1);
  
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

